{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus unde natus et cum repellat esse suscipit
            eligendi illo nostrum quisquam.</p>
    </div>

    <div class="col-4">
        <img src="https://picsum.photos/g/200/300" alt="" class="img-thumbnail"></div>
</div>

{{> footer}}